/MGPummelz2023/*
!/MGPummelz2023/Assets/
/MGPummelz2023/Assets/*
!/MGPummelz2023/Assets/minigame
/MGPummelz2023/Assets/minigame/*
!MGPummelz2023/Assets/minigame/pummelz
/MGPummelz2023/Assets/minigame/pummelz/*
!MGPummelz2023/Assets/minigame/pummelz/ai